body{
    text-align: center;
}
.bobo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;
    width: auto;
    background-color: cadetblue;
}

div{
    height: 150px;
    width: 150px;
    background-color: burlywood;
    border-radius: 150px;
}